<div class="page-header">
  <h1><%= @todo.title %></h1>
  <div>by <%= @todo.user.name %></div>
</div>

<h4>Tasks</h4>

<ul>
  <% if @todo.tasks.empty? %>
      No tasks made yet...
  <% else %>
      <% @todo.tasks.each do |task|  %>
          <li>
            <% if task.finished? %>
                <span class="finished"><%= task.content %></span>
            <% else %>
                <%= task.content %>
            <% end %>

            <% if current_user == @todo.user  %>
                <%= button_to "delete", todo_task_path(@todo, task), :method => :delete %>
                <%= button_to "toggle finished", todo_task_path(@todo, task), :method => :put %>
            <% end %>
          </li>
      <% end %>
  <% end %>
</ul>

<% if current_user == @todo.user  %>
    <p>Add task</p>

    <%= simple_form_for @task, url: todo_tasks_path(@todo) do |f| %>
        <%= f.input :content, label: "Task" %>
        <%= f.button :submit %>
    <% end %>
<% end %>